<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Vocab</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to external CSS file -->
</head>

<body>
    <a href="../../../home">Home</a>
    <span><a th:href="@{/logout}">Logout</a></span> 
    <br>

    <h1>Edit deck: <span th:text="${deck.name}"></span></h1><hr>
    <!--Search bar-->
    <h2>Search</h2>
    <form th:action="@{${deckId} + '/search'}" method="GET">
        <input type="text" name="query" placeholder="Search for cards front..">
        <button type="submit">Search</button><br>
    </form>

    <div th:if="${searchedCard}">
        <h2>Front:</h2>
        <h2 contenteditable="true" th:text="${searchedCard.front}"></h2><br>
        <h2>Back:</h2>
        <h2 contenteditable="true" th:text="${searchedCard.back}"></h2><br>
        <h2>cardId:</h2>
        <h2 th:text="${searchedCard.cardId}"></h2>
    
    <h2 th:text="${error}"></h2>
    

    <h2 th:text="${deleted}"></h2>


</html>