<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Vocab</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <a href="../../../home">Home</a>
    <span><a th:href="@{/logout}">Logout</a></span> 
    <br>

    <h1>Edit deck: <span th:text="${deck.name}"></span></h1><hr>
    <!--Search bar-->
    <h2>Search</h2>
    <form th:action="@{${deckId} + '/search'}" method="GET">
        <input type="text" name="query" placeholder="Search for cards front..">
        <button type="submit">Search</button><br>
    </form>

    <div th:if="${searchedCard}">
        <h2>Front:</h2>
        <h2 contenteditable="true" th:text="${searchedCard.front}"></h2><br>
        <h2>Back:</h2>
        <h2 contenteditable="true" th:text="${searchedCard.back}"></h2><br>
    </div>

    <h2 th:text="${error}"></h2>
    
    

    <!--
    <div class="cards" th:each="card: ${cards}">
        <div class="front">
            <h3>Front: <span id="front" th:text="${card.front}"></span></h3>
        </div>
        <div class="back">
            <h3>Back: <span id="back" th:text="${card.back}"></span></h3>
        </div>
        <hr>
    </div>
    -->

</html>