<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 th:text="'It\'s nice to see you again ' + ${userId}"></h1><hr> <br>

<a th:href="@{home/newDeck}">Create new Deck</a>


<div class="deck">
    <h2>User Decks</h2>
    <ul th:if="${not #lists.isEmpty(decks)}">
        <!-- Iterate over the list of decks -->
        <li th:each="deck : ${decks}">
            <!-- Display the deck's name -->
            <span th:text="${deck.name}"></span>
                <span>&ensp;</span> 
            <a th:href="@{'home/study/decks/' + ${deck.deckId}}">Study</a>
                <span>&ensp;</span> 
            <a th:href="@{'home/showCards/decks/' + ${deck.deckId}}">Show Cards</a> 
                <span>&ensp;</span> 
            <a th:href="@{'home/newCard/decks/' + ${deck.deckId}}">Add a new card</a>
                <span>&ensp;</span> 
            <a th:href="@{'home/editDeck/decks/' + ${deck.deckId}}">Edit deck</a>
                <span>&ensp;</span>
            <!--<a th:href="@{${userId}+ '/test/' + ${deck.deckId}} ">Test</a>
            <hr> -->
        </li>
    </ul>
    <p th:if="${#lists.isEmpty(decks)}">No decks available.</p>
</div>



</body>
</html>