<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Vocab</title>
        <link rel="stylesheet" href="/authStyles.css">

    </head>

    <body>
        <h1>Login</h1>
        <form th:action="@{/api/auth/login}" method="post">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Login</button><br>
          </form>

        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>

        <br>
        
        <a href="/api/auth/register"><h2>You don't have an Account?<br>Register</h2></a>
    </body>
</html>