<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vocab</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to external CSS file -->
</head>



<body>
    <a href="../../../home">Home</a>

    <h2>Cards in Deck:</h2>
    <p th:text="'Cards in Deck: ' + ${cardCounter}"></p>
    
    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>
    <br><br>
    <h3>Add a new card</h3>
    <form method = post>
        <label for="front">front</label>
        <input type="text" id="front" name="front" required>
        <label for="back">back</label>
        <input type="text" id="back" name="back" required>
        
        <button type="submit">Submit</button><br><br>
    </form>

    

</body>

</html>