<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createNewDeck</title>
</head>

<body>
    <a href="../home">Home</a>
    <h2>Create a new deck</h2>
    <form th:action="@{newDeck}" method="post">
        <label for="deckName">Deck name:</label><br>
        <input type="text" id="deckName" name="deckName"/><br><br>
        <button type="submit">Create Deck</button>
    </form>
    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>

</body>

</html>